.table {
    margin-top: 3vh;
    padding: 1rem;
    overflow-x: scroll;

    & .tr {
        display: grid;
        grid-template-columns: 10% 15% 30% 30% 15%;
        grid-column-gap: 2rem;
        margin-top: -2rem;

        &:nth-child(1) {
            margin-top: unset !important;
        }

        & li {
            padding: .4rem 1rem;

        }
    }
}

.caption {
    background-color: $primary-color;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: .3em;
    padding: 1rem;
    margin-top: 15vh;
}