{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block nav_extra %}
    <li class="menu-nav__item active">
        <a href="{{ url_for('.dash') }}" class="menu-nav__link active">
            <i class="far fa-address-book"></i><span class="nav_name">Project Overview</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="{{ url_for('.handbook') }}" class="menu-nav__link">
            <i class="far fa-file-alt"></i><span class="nav_name">File Upload</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="far fa-envelope"></i><span class="nav_name">Message</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="far fa-question-circle"></i><span class="nav_name">Help</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="fas fa-cog"></i><span class="nav_name">Settings</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="{{ url_for('.logout') }}" class="menu-nav__link">
            <i class="fas fa-power-off"></i><span class="nav_name">Logout</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="welcome">
        <h4>Welcome, {{ current_user.firstname }}</h4>
        <p>Here is an overview of your business.</p>
    </div>

    <div class="center container-fluid">
        <div class="row text-center">
            <a href="{{ url_for('.view_logs', page_num=1) }}" class="col-lg-7">
                <div>
                    <i class="far fa-file-alt fa-2x"></i>
                    <h4>User Information</h4>
                </div>
            </a>
            <a href="{{ url_for('.speech') }}" class="col-lg-4">
                <div>
                    <i class="far fa-comment-dots fa-2x"></i>
                    <h4>CEO's Speech</h4>
                </div>
            </a>
            <a href="{{ url_for('.handbook') }}" class="col-md-5">
                <div>
                    <i class="fas fa-book"></i>
                    <h5>Update Handbook</h5>
                </div>
            </a>
            <a href="{{ url_for('.socials') }}" class="col-md-6">
                <div>
                    <i class="fas fa-share-alt"></i>
                    <h5>Socials</h5>
                </div>
            </a>
        </div>
    </div>
{% endblock %}