{% extends "base.html" %}

{% block title %}
User Logs
{% endblock %}

{% block nav_extra %}
    <li class="menu-nav__item active">
        <a href="{{ url_for('.dash') }}" class="menu-nav__link active">
            <i class="far fa-address-book"></i><span class="nav_name">Project Overview</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="{{ url_for('.handbook') }}" class="menu-nav__link">
            <i class="far fa-file-alt"></i><span class="nav_name">File Upload</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="far fa-envelope"></i><span class="nav_name">Message</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="far fa-question-circle"></i><span class="nav_name">Help</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="fas fa-cog"></i><span class="nav_name">Settings</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="{{ url_for('.logout') }}" class="menu-nav__link">
            <i class="fas fa-power-off"></i><span class="nav_name">Logout</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <p class="caption">User Logs</p>
    <div class="table">
        {% if logs %}
            <ul class="tr head">
                <li>ID</li>
                <li>User Id</li>
                <li>Last Seen</li>
                <li>Recent Event Id</li>
                <li>Long & Lat</li>
            </ul>

            {% for log in logs.items %}
            <ul class="tr">
                <li>{{ log.id }}</li>
                <li>{{ log.user_id }}</li>
                <li>{{ log.last_seen }}</li>
                <li>{{ log.most_recent_event_id }}</li>
                <li>{{ log.long_lat }}</li>
            </ul>
            {% endfor %}

            {% for page in logs.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
                {% if page %}
                    <a href="{{ url_for('.view_logs', page_num=page ) }}">{{ page }}</a>
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="alert">Please Polulate Database!!!</p>
        {% endif %}
    </div>
{% endblock %}