{% extends "base.html" %}

{% block title %}
User Logs
{% endblock %}

{% block nav_extra %}
    <li class="menu-nav__item active">
        <a href="{{ url_for('.dash') }}" class="menu-nav__link active">
            <i class="far fa-address-book"></i><span class="nav_name">Project Overview</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="{{ url_for('.handbook', page_num=1) }}" class="menu-nav__link">
            <i class="far fa-file-alt"></i><span class="nav_name">File Upload</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="far fa-envelope"></i><span class="nav_name">Message</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="far fa-question-circle"></i><span class="nav_name">Help</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="fas fa-cog"></i><span class="nav_name">Settings</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="{{ url_for('.logout') }}" class="menu-nav__link">
            <i class="fas fa-power-off"></i><span class="nav_name">Logout</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <p class="caption">User Logs</p>
    <div class="table-div">
        {% if logs %}
        <table>
            <tr class="head">
                <th>ID</th>
                <th>User Id</th>
                <th>Last Seen</th>
                <th>Recent Event Id</th>
                <th>Long & Lat</th>
            </tr>  

            {% for log in logs.items %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.user_id }}</td>
                <td>{{ log.last_seen }}</td>
                <td>{{ log.most_recent_event_id }}</td>
                <td>{{ log.long_lat }}</td>
            </tr>
            {% endfor %}

            <p>Pages:{% for page in logs.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
                {% if page %}
                    <a href="{{ url_for('.view_logs', page_num=page ) }}">{{ page }}</a>
                {% else %}
                    ...
                {% endif %}
            {% endfor %}</p>
        </table>
        {% else %}
            <p class="alert">Please Polulate Database!!!</p>
        {% endif %}
    </div>
{% endblock %}