{% extends "base.html" %}

{% block title %}
Socials
{% endblock %}

{% block nav_extra %}
    <li class="menu-nav__item active">
        <a href="{{ url_for('.dash') }}" class="menu-nav__link active">
            <i class="far fa-address-book"></i><span class="nav_name">Project Overview</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="far fa-file-alt"></i><span class="nav_name">File Upload</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="far fa-envelope"></i><span class="nav_name">Message</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="far fa-question-circle"></i><span class="nav_name">Help</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="fas fa-cog"></i><span class="nav_name">Settings</span>
        </a>
    </li>
    <li class="menu-nav__item">
        <a href="#" class="menu-nav__link">
            <i class="fas fa-power-off"></i><span class="nav_name">Logout</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="socials">
        <ul class="socials-menu">
            {% if data %}
                <li><a href="{{ data['fb'] }}"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="{{ data['fb'] }}"><i class="fab fa-twitter"></i></a></li>
                <li><a href="{{ data['fb'] }}"><i class="fab fa-instagram"></i></a></li>
            {% else %}
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            {% endif %}
        </ul>
    </div>

    <div class="update-socials">
        <p>Update Socials</p>
        <form method="POST" action="">
            <div class="form-group row">
            <label for="facebook" class="col-sm-2 col-form-label">Facebook</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="facebook" name="facebook">
            </div>
            </div>
            <div class="form-group row">
            <label for="twitter" class="col-sm-2 col-form-label">Twitter</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="twitter" name="twitter">
            </div>
            </div>
            <div class="form-group row">
                <label for="instagram" class="col-sm-2 col-form-label">Instagram</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="instagram" name="instagram">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}